body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pexels-pixabay-326311.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .main-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .landing-box {
    position: relative;
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-image: url('pexels-anna-pyshniuk-2453945-6083349.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  nav button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: beige;
    
  
  }
  
  .background-image {
    padding: 50px 0;
    border-radius: 20px;
  }
  
  .background-image h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: white; 
  }
  
  .subtitle {
    font-size: 18px;
    color: white; 
    margin-bottom: 20px;
  }
  
  .view-recipes {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .view-recipes:hover {
    background-color: darkgreen;
  }
  
  
  .below-the-fold {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  
  .left-side {
    flex: 1;
  }
  
  .trending-now {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .background-image-trending {
    background-image: url('pexels-carlo-a-431212541-15394320.jpg');
    background-size: cover;
    background-position: center;
    height: 600px; 
    border-radius: 30px;
  }
  
  .background-image-trending:hover::before {
    content: "Baked Feta Pasta";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .right-side {
    flex: 1;
    padding-left: 20px;
    margin-top: 30px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid beige;
    border-radius: 5px;
    background-color: bisque;
  
  }
  
  .food-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .food-photo {
    width: calc(50% - 5px);
    height: 300px; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
  }
  #food-photo-1{background-image: url('pexels-nicola-barts-7937471.jpg');}
  #food-photo-2{background-image: url('pexels-antonytrivet-12843160.jpg');}
  #food-photo-3{background-image: url('pexels-chanwalrus-958545.jpg');}
  #food-photo-4{background-image:url('pexels-quang-nguyen-vinh-222549-2144200.jpg')}
  
  .food-photo:hover::before {
    content:attr(name-food);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  nav button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: beige;
    margin: 5px;
  }
  
  .third-section {
    display: flex;
    flex-direction: column;
  }
  
  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: white;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe-image {
    width: 250px; 
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%; 
  }
  
  
  .recipe-info {
    margin-top: 10px;
    text-align: center;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stars {
    color: brown;
    font-size:25px;
  }
  .stars::after {
    
    color: #ccc; 
  }
  .reviews {
    margin-left: 5px;
  }
  
  .bottom-half {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
  }
  
  .about-us,
  .contact-us,
  .more-info {
    flex: 1;
    margin-right: 30px; 
    padding: 20px;
    background-color:beige; 
    border-radius: 10px;
    height: 300px; 
    overflow: auto; 
  }
  
  .contact-us img {
    width: 30px; 
    height: 30px;
  }
  .top-half,
  .bottom-half{
    background-image: url('pexels-fwstudio-33348-129731.jpg');
    background-size: cover;
    background-position: center;
  }
  a {
    color: purple; 
  }
  
  
  
  
  
  
  
  